/* ========================================================
CHATBOT
======================================================== */

.chat-bot-panel {
    align-self: center;
    justify-self: center;
    width: 90%;
    max-width: 800px;
    justify-content: center;
    height: 100%;
}

.chatbot-icon-wrap {
    align-items: center;
    transition: opacity .5s ease;
}

.chatbot-icon-wrap.fade {
    opacity: 0;
}

.chatbot-icon-wrap p {
    color: #4D4D4D;
    font-size: 14px;
    line-height: 1.3;
    font-variation-settings: 'wght' 500;
}



/* ========================================================
Messages
======================================================== */

.message-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.message-wrap.user {
    align-items: flex-end;
}

.message {
    font-size: 15px;
    color: #FAFAFA;
    font-variation-settings: 'wght' 450;
}

.message p {
    line-height: 1.6;
}

.message-wrap.user .message {
    padding: 10px 18px;
    background-color: hsl(0, 0%, 100%, .05);
    border-radius: 50px;
    
}

.message-wrap.user .message-button-wrap {
    transition: opacity ease .2s;
    opacity: 0;
}

.message-wrap.user:hover .message-button-wrap {
    opacity: 1;
}

.message li {
    margin: 12px 0 0 20px;
}

.message li:first-of-type {
  padding-top: 4px;
}


/* ========================================================
LOADING ANIMATION
======================================================== */



.loading-bubble {
  display: flex;
  gap: 6px;
  padding: 12px 0;
  align-items: flex-end;
  justify-content: flex-start;
  height: 20px;
}

.dot {
  max-width: 6px;
  max-height: 6px;
  min-width: 6px;
  min-height: 6px;
  border-radius: 50%;
  background-color: white;
  animation: miniWave 1.2s infinite ease-in-out;
}

.dot:nth-child(1) {
  animation-delay: 0s;
}

.dot:nth-child(2) {
  animation-delay: 0.12s;
}

.dot:nth-child(3) {
  animation-delay: 0.24s;
}

@keyframes miniWave {
  0%, 100% {
    transform: translateY(0);
    opacity: 0.5;
  }
  50% {
    transform: translateY(-5px);
    opacity: 1;
  }
}



/* ========================================================
PROMPT SUGGESTIONS
======================================================== */

.prompt-suggestion-wrap {
    flex-wrap: wrap;
}

.prompt-suggestion {
    border: 1px solid hsl(0, 0%, 100%, .1);
    padding: 12px 14px;
    border-radius: 50px;
    font-size: 12.5px;
    font-variation-settings: 'wght' 500;
    color: #444444;
}

.prompt-suggestion:hover {
    background-color: hsl(0, 0%, 100%, .03);
    border-color: hsl(0, 0%, 100%, .01);
    color: #787878;
}

/* ========================================================
INPUT
======================================================== */

.atri-input-form {
    width: 100%;
    background-color: hsl(0, 0%, 75%, .04);
    z-index: 0;
    position: relative;
    border-radius: 100px;
    margin: 1px;
    height: 50px;
    padding: 7px;
    transition: background-color ease .2s;
}

.atri-input-form::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(255,255,255,0.2), rgba(255,255,255,0.1));
    border-radius: inherit;
    padding: 1px;
    opacity: .2;
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
    transition: opacity .2s ease;
}

.button-main.chat-submit {
    min-height: 34px;
    min-width: 34px;
}

.atri-input {
    flex: 1;
    margin-left: 16px;
    font-size: 14px;
    color: white;
    cursor: text;
}

.atri-input:focus {
    caret-color: white;
}

.atri-input-form:hover,
.atri-input-form.focused {
    background-color: hsl(0, 0%, 75%, .06);
}


.atri-input-form:hover::before,
.atri-input-form.focused::before {
    opacity: .3;
}



/* ========================================================
ANIMATON
======================================================== */

.chat-window {
    transition: all ease .5s;
}

.chat-window.active {
    flex: 1;
}


.message-window {
    flex: 1;
}

.chat-window .button-main {
    opacity: .6;
}

.chat-window.active .button-main{
    opacity: 1;
}



/* ========================================================
TAB HEADING
======================================================== */
.atri-tab-heading {
    font-size: 20px;
    font-variation-settings: 'wght' 450;
    color: #FCFCFC;
    width: 420px;
    line-height: 1.3;
}

/* ========================================================
ATRI SUMMARY
======================================================== */

.atri-summary {
    padding: 17px;
    background-color: hsl(0, 0%, 100%, .02);
    border-radius: 10px;
    z-index: 0;
    justify-content: space-between;
    height: 100%;
    position: relative;
    margin: 1px;
    height: 100%;
}

.atri-summary::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(255,255,255,0.2), rgba(255,255,255,0.1));
    border-radius: inherit;
    padding: 1px;
    opacity: .4;
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
    transition: opacity .2s ease;
}

.atri-summary-heading {
    font-size: 12px;
    font-variation-settings: 'wght' 550;
    color: white;
    margin-bottom: -2px;
}

.atri-summary-text {
    font-size: 16px;
    line-height: 1.6;
    color: #fafafa;
}

.atri-summary > :last-child {
    margin-top: 20px;
}

