/* ========================================================
LAYOUT
======================================================== */


.content-wrap {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 28px;
}

.content {
    padding: 28px;
}


/* ========================================================
CARD
======================================================== */

.card {
    background-color: hsl(0, 0%, 100%, .02);
    padding: 20px;
    border-radius: 10px;
    border: 1px solid hsl(0, 0%, 100%, .02);
    flex: 1;
    position: relative;
}

.card.flex4 {
    flex: 4;
}

.card.p8 {
    padding: 8px;
}

.card.p16 {
    padding: 16px;
}

.card.img {
    min-width: 400px;
    min-height: 200px;
    justify-content: center;
}

.card.mw-380 {
    min-width: 380px;
}

.card.mw-440 {
    min-width: 440px;
}


/* ========================================================
TYPOGRAPHY
======================================================== */

.small-heading {
    color: #818181;
    font-size: 12.5px;
    font-variation-settings: 'wght' 450;
}

.card-label {
    font-size: 14px;
    color: white;
    font-variation-settings: 'wght' 500;
}

.card-label.f-s16 {
    font-size: 16px;
}

.label-tag {
    padding: 8px 12px;
    font-size: 10px;
    color: #464646;
    background-color: hsl(0, 0%, 100%, .01);
    border: 1px solid hsl(0, 0%, 100%, .02);
    border-radius: 3px;
    transition: all ease .2s;
    cursor: default;
}

.label-tag:hover {
    color: #5E5E5E;
    border-color: hsl(0, 0%, 100%, .03);
    background-color: hsl(0, 0%, 100%, .02);
}

.change-label {
    color: #1DA33F;
    font-size: 13px;
}

.change-label span {
    color: #666666;
}

/* ========================================================
CONTENT INFO CARD
======================================================== */

.info-card-metrics-wrap {
  flex-wrap: wrap;  
}

.info-card-metric {
    width: calc(50% - 12px);
    min-width: fit-content;
    white-space: nowrap;
}

.info-label-tag-wrap {
    height: 28px;
}

.website-image {
    border-radius: 6px;
    opacity: .7;
    height: 97%;
    width: 97%;
    position: absolute;
    object-fit: cover;
    object-position: top;
}

/* ========================================================
STATUS
======================================================== */

.status-toggle {
    height: 22px;
    width: 46px;
    border-radius: 50px;
    background-color: #1DA53F;
    padding: 3px;
    position: relative;
    z-index: 0;
    box-shadow: inset 0px 0.5px 2px 2px rgba(0, 0, 0, 30%);
    opacity: .8;
    transform: opacity ease .2s, background-color .3s ease;
}

.status-toggle:hover {
    opacity: 1;
}

.status-toggle-knob {
    position: absolute;
    top: 3px;
    right: 3px;
    bottom: 3px;
    aspect-ratio: 1;
    z-index: 1;
    border-radius: 50px;
    background: linear-gradient(180deg, #D9D9D9 0%, #BDBDBD 100%);
    box-shadow: 0px 0.875px 2px 0px rgba(0, 0, 0, 4%);
    transition: transform ease .3s;
}

.toggle.inactive .status-toggle {
    background-color: #878787;
    opacity: .7;
}

.toggle.inactive .status-toggle:hover {
    opacity: .9;
}

.toggle.inactive .status-toggle .status-toggle-knob {
    transform: translateX(-24px);
}

.toggle {
    font-size: 13px;
    font-variation-settings: 'wght' 500;
    color: #ccc;
}

.toggle p {
    transition: color ease .3s;
}

.toggle.inactive {
    color: #999999;
}



/* ========================================================
SMALL CHART
======================================================== */

.small-chart-wrap {
    width: calc(50% - 20px);
    min-width: 240px;
    flex: 1;
}

.small-chart-wrap > :first-child {
    width: 124px;
}

.small-chart {
    height: 48px;
    border-bottom: 1px solid hsl(0, 0%, 100%, .1);
}




/* ========================================================
TOOLTIP
======================================================== */

.chart-tooltip {
    padding: 10px 14px;
    background-color: hsl(0, 0%, 9%, .7);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border-radius: 4px;
    border: 1px solid hsl(0, 0%, 100%, .1);
}

.tooltip-heading {
    color: #818181;
    font-size: 11px;
    font-variation-settings: 'wght' 380;
}

.tooltip-key {
    height: 6px;
    width: 6px;
    border-radius: 50px;
    background-color: #E85A39;
}

.tool-tip-label {
    font-size: 11.5px;
    font-variation-settings: 'wght' 500;
    color: white;
    white-space: nowrap;
}

.tool-tip-label span {
    padding-left: 2px;
}

/* ========================================================
TABLE
======================================================== */

table {
    font-size: 13px;
    color: #F2F2F2;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
}

th {
    font-size: 12px;
    color: #818181;
    font-variation-settings: 'wght' 450;
    padding: 16px 14px;
    border-right: 1px solid hsl(0, 0%, 100%, .02);
}

td {
    padding: 16px 14px;
    border-right: 1px solid hsl(0, 0%, 100%, .02);
    line-height: 1.6;
}

tr {
    background-color: hsl(0, 0%, 100%, .01);
    border-bottom: 8px solid #1A1A1A;

}

tbody > :last-child {
    border: none;
}

tr > :last-child {
    border-right: 0px;
}


.table-rse :nth-child(7) {
    font-size: 12px;
}

.table-security-score-bar {
    height: 14px;
    flex: 1;
    min-width: 120px;
    background-color: hsl(0, 0%, 100%, .1);
    border-radius: 20px;
    padding: 2px;
}

.table-security-score {
    background-color: #1DA53F;
    height: 100%;
    border-radius: 100px 10px 200px 100px;
}



/* ========================================================
OVERVIEW CARD
======================================================== */

.overview-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.over-heading {
    grid-column: span 3;
    color: #818181;
    font-size: 13px;
    font-variation-settings: 'wght' 500;
    padding-bottom: 12px;
}

.overview-card p {
    white-space: wrap;
}

.overview-card {
    padding: 18px;
    border: 1px solid hsl(0, 0%, 100%, .04);
    border-radius: 6px;
    outline: 3px solid transparent;
}

.overview-heading {
    font-size: 14px;
    color: white;
    padding-top: 12px;
    font-variation-settings: 'wght' 500;
}

.overview-subheading {
    color: #838386;
    font-size: 13.5px;
    line-height: 1.5;
}

.overview-card:hover {
    background-color: hsl(11, 79%, 57%, .03);
    border-color: #E85A39;
    outline-color: hsl(11, 79%, 57%, .3);
}

.overview-card.blue:hover {
    background-color: hsl(231, 79%, 58%, .03);
    border-color: #3F59E9;
    outline-color: hsl(231, 79%, 58%, .03);
}

.overview-card.purple:hover {
    background-color: hsl(271, 91%, 65%, .03);
    border-color: #A855F7;
    outline-color: hsl(271, 91%, 65%, .3);
}

/* ========================================================
SIDEPANEL
======================================================== */

.sidepanel-wrap {
    min-width: 400px;
    max-width: 400px;
    height: 100%;
    border-left: 1px solid hsl(0, 0%, 100%, .04);
    background-color: hsl(0, 0%, 100%, .01);
    display: flex;
    flex-direction: column;
    transition: all ease .5s;
    align-items: flex-start;
}

.sidepanel-wrap.opening {
    min-width: 0px;
    max-width: 0px;
}


.sidepanel {
    position: sticky;
    top: 0;
    padding: 20px;
    height: calc(100svh - 116px);
    min-width: 400px;
}


.sidepanel-top-block {
    font-size: 14px;
    font-variation-settings: 'wght' 600;
    color: #323232;
}
